/* .first {
    display: flex;
    flex-direction: column;
}
.first > .name {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first > .intro {
    width: 50%;
    display: flex;
    flex-direction: row;
} */

/* About me */
img {
    width: 80px;
}

.card {
    display: flex;
    width: 40%;
    margin: 4rem;
    background-color: var(--card-color);
    backdrop-filter:  var(--card-blur);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
}
.card-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem .5rem;
    width: 100%;
}
.card-left > img { border-radius: 50%;}
.card-right {
    padding: 1.4rem .8rem;
}
.sub-topic {
    font-size: .9rem;
    letter-spacing: 0.02rem;
    margin: 0 0 .5rem 0;
}
.sub-detail {
    font-size: .7rem;
    letter-spacing: 0.02rem;
}
.date-range {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: .6rem;
    font-weight: 600;
}
.text-name {
    font-size: 2.0rem;
    letter-spacing: 0.175rem;
}
.text-title {
    font-size: 1.25rem;
    letter-spacing: 0.15rem;
    overflow: hidden;
    white-space: nowrap;
    animation: reveal 4s steps(28) forwards;
}
@keyframes reveal {
    0%   {width: 0%;}
    25%  {width: 100%;}
    100% {width: 100%;}
}
/* Experience */
.box-of-education {
    display: block;
    width: 50%;
    height: 20rem;
    backdrop-filter:  var(--card-blur);
    margin-top: 1.75rem;
}
.scroll-style {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: white transparent;
    scrollbar-width: thin;
}
.edu-item {
    display: block;
    background-color: var(--card-color);
    margin: .3rem;
    padding: .5rem 1rem;
    position: relative;
    transition: .3s;
    word-wrap: break-word
}
.edu-item:hover {
    cursor: pointer;
    margin: 0;
    padding: .5rem 1.3rem;
}
/* Skill */
.box-of-skill {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    margin-top: 1.2rem;
}
.box-of-skill > img {
    width: 20rem;
}
.last-row > img {
    width: 7rem;
    filter: grayscale(100%);
}
.skill-logo {
    --cubic-size: 3.5rem;

    display: block;
    height: var(--cubic-size);
    width: var(--cubic-size);
    background-color: var(--card-color);
    backdrop-filter:  var(--card-blur);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow)
}
.credit {
    position: absolute;
    bottom: 4rem;
    font-size: .7rem;
}
/* Projects & Interests */
.carousel {
    display: flex;
    overflow: hidden;
    width: 60%; /* Adjust width as needed */
    margin: 1rem auto;
    position: relative;
}
.carousel-inner {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}
.carousel-item {
    position: relative;
    flex: 0 0 30%;
    background-color: var(--card-color);
    backdrop-filter:  var(--card-blur);
    border-radius: var(--card-radius);
    margin: 0 0 0 .5rem;
    padding: 1rem 1rem 2.5rem 1rem;
    text-decoration: none;
    color: white;
}
.icon-cert {
    position: absolute;
    bottom: .3rem;
    left: .8rem;
    width: 1.4rem;
}
.finish-date {
    position: absolute;
    bottom: .3rem;
    right: .6rem;
    font-size: .6rem;
}
.carousel-btn {
    cursor: pointer;
    position: absolute;
    background-color: var(--secondary-color);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30px;
}
.carousel-prev {
left: 0px;
}
.carousel-next {
right: 0px;
}
/* Get In Touch */
form {
    display: block;
    width: 30%;
}
.row {
    margin: .7rem 0;
}
input {
    width: 100%;
    letter-spacing: 0.05rem;
}
.input-box {
    font-size: .7rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: var(--card-radius);
    color: white;
    padding: .3rem;
}
textarea {
    width: 100%;
    resize: none;
}
input[type="submit"] {
    background-color: transparent;
    border: 1px solid white;
    border-radius: var(--card-radius);
    padding: .3rem .3rem;
    color: white;
    box-shadow: var(--card-shadow);
    transition: .5s;
}
input[type="submit"]:hover {
    cursor: pointer;

    background-color: white;
    color: black;
    box-shadow: var(--card-shadow);
}

