:root {
    /* background color */
    --background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,29,186,1) 0%, rgba(0,255,227,1) 100%);

    /* initial card */
    --card-color: rgba(255, 255, 255, 0.3);
    --card-blur: blur(10px);
    --card-radius: .5rem;
    --card-shadow: rgba(0, 0, 0, 0.01) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.09) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    /* initial font */
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #f7f1e3;
}

/* initial box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
}
.slider {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: calc(100vh);
    width: 100%;
    background: var(--background-color);
    position: relative;
}

.slider > .slide {
    background-color: transparent;
    scroll-snap-align: center;
    height: calc(100vh);
    width: 100%;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.navigation {
    position: sticky;
    z-index: 1;
    top: 0;
    display: block;
    width: 100%;
}
.navigation > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation > ul > a {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2.5rem;
    color: aliceblue;
    text-decoration: none;
    position: relative;
}
.navigation > ul > a::after {
    cursor: pointer;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0.1rem;
    background-color: white;
    transition: width 0.4s ease;
}

.navigation > ul > a:hover::after {
  width: 70%;
}