:root {
    /* initial theme-color */
    --primary-color: rgb(70, 70, 134);
    --secondary-color: #cd6133;
    --background-color: #f7f1e3;
    --card-shadow: rgba(0, 0, 0, 0.01) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.09) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* initial font */
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #f7f1e3;
}

/* initial box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.slider {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(100vh);
    width: 100%;
}

.slider > .slide {
    background-color: var(--primary-color);
    scroll-snap-align: center;
    height: calc(100vh);
    width: 100%;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.navigation {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    background-color:  var(--primary-color);
}
.navigation > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation > ul > a {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    color: aliceblue;
    text-decoration: none;
}
.navigation > ul > a:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}